<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link  rel="stylesheet"  type="text/css"  href="{{url_for('static', filename='css/bootstrap.css')}}" />
    <link  rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}" />
    <link  rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/wow.css')}}" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="{{url_for('static', filename='/js/jquery-3.5.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='/js/bootstrap.min.js')}}"></script>
  </head>
  <body>
    <header>
      <!--Navbar -->
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
        <div class="container">
          <a class="navbar-brand" href="#"><strong>WebTheater</strong></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
            aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{{url_for('home')}}">Home <span class="sr-only">(current)</span></a>
              </li>
            </ul>
            
          </div>
        </div>
      </nav>
      <!--Intro Section-->
      <div class="view ">
        <video  style="width: 100%;" class="video-intro"  playsinline autoplay muted loop>
          <source src="{{url_for('static', filename='/videos/background.mp4')}}" type="video/mp4">
        </video>

        <div class="real-body justify-content-center  d-flex align-items-center">
          {% block body %}{% endblock %}

        </div>
      </div>
    <!-- <footer >teste</footer> -->

    </header>

    <script src="{{url_for('static', filename='/js/wow.js')}}"></script>

    <script>
              new WOW().init();
    </script>
  </body>
</html>
